@model Zarinpal.Api.Models.ZarinpalPaymentResponseModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<ul>
    <li>@Model.Authority</li>
    <li>@Model.PaymentUrl</li>
    <li>@Model.Message</li>
    <li>@Model.Status</li>
</ul>